@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    min-width: 576px;
}
                    /*header*/
header .principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
header section p{
    background-color: rgb(46, 46, 46);
    color: hsl(36, 100%, 90%);
}
header .menu img{
    text-decoration: none;  
    color: black;
}
.menu ul li{
 list-style: none;
 cursor: pointer;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
                    /*IMAGENES SECCIONES*/
.imagenes .mujer img{
    border-radius: 1rem 0 0 1rem;
}
.imagenes .niños img{
    border-radius: 0 1rem 1rem 0;
}
main .imagenes a{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.imagenes img{
    width: 100%;
}
.imagenes .secciones{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
}
.imagenes p{
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(245, 212, 212, 0.7);
    font-size: 2rem;
    height: 22vh;
    width: 22vw;
    transition-duration: 3s;
    color: black;
}
.imagenes .secciones:hover p{
    display: flex;
}
                /*MODAL CARRITO*/
.modal .modal-dialog .modalCarrito{
    background-color: hsl(34, 57%, 70%);
    width: 30vw;
    height: 40vh;
    display: flex;
    justify-self: center;
    justify-content: center;
}
.modalCarrito p{
    text-align: center;
}
.btncarrito{
    background-color: rgb(184, 165, 89);
    width: 100%;
}
                /*MODAL USUARIO*/
.modal{
    background-color: rgba(128, 128, 128, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
}
body .modal-content{
    background-color: hsl(34, 57%, 70%);
    width: 30vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
    flex-shrink: initial;
    justify-self: center;
}
.cuadro .modal-dialog{
    display: flex;
}
.partes{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.formulario .partes input, p{
    align-items: center;
    font-family: 'Zen Antique', serif;

}
.partes .btnusuario{
    display: block;
    width: 100%;
    background-color: rgb(184, 165, 89);
    color: rgb(0, 0, 0);
}
.formulario .partes p{
    font-size: .8rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-family: 'Zen Antique', serif;
}
.cuadro, #carrito h5{
    font-size: 1rem;
    font-family: 'Zen Antique', serif;
}
                    /*MENU BAJO*/
.menubajo{
    background-color: hsl(36, 100%, 90%);
    color: rgb(46, 46, 46);

}
SECTION .tarjetas img{
    margin: 2vh;
}
.menubajo a{
    text-decoration: none;
    color: rgb(46, 46, 46);
    justify-content: space-around;

}
.columna1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
                    /*REDES SOCIALES*/
nav .redes{
    display: flex;
    justify-content: space-between;
}
                    /*FOOTER*/
footer{
    background-color: rgb(46, 46, 46);
    color: hsl(36, 100%, 90%);
}
                    /*MEDIAS*/
@media (max-width: 767px) {
   .tarjetas, .columna1, .mapa{
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   .columna1 a{
       display: block;
       align-self: center;
   }
   .tarjetas p, div{
        align-self: center;
   }
   .mapa p, iframe{
        align-self: center;
   }
   body .modal-content{
        width: 80vw;
        height: 90vh;
        overflow: auto
    }
    .modal .modal-dialog .modalCarrito{
        width: 75vw;
        height: 70vh;

    }
    main .secciones img{
        border-radius: 1rem 1rem;
    }
    .imagenes p{
        height: 80vh;
        width: 50vw;
    }
}
@media (max-width: 575px){
    body .modal-content{
        width: 80vw;
        height: 60vh;
    }
    .modal .modal-dialog .modalCarrito{
        width: 75vw;
        height: 35vh;

    }
    .imagenes p{
        height: 35vh;
        width: 85vw;
    }
}